/**
Body
 */
body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: $white url("../../assets/images/previews/desktop.jpg") no-repeat center top;

    &.hide {
        background: linear-gradient(#1a2038, #131218);
    }
}

/**
Bar devices
 */
.bar-devices {
    @include font-size(20);
    @include line-height(20, 20);
    position: fixed;
    top: 10px;
    right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;

    button {
        cursor: pointer;
        margin: 0 2.5px;
        background: #00b3ee;
        padding: 5px;
        @include border-radius(2px);
        @include transition(all .4s ease);
        color: $white;
        border: 1px solid #00b3ee;
        height: 35px;
        width: 35px;

        &:hover {
            background-color: #333;
            color: $white;
            border-color: #333;
        }
    }
}

.tablet-horizontal {
    @include rotate(90deg);
}

/**
Iphone
 */
.iphone-mockup {
    background: url("../../assets/images/iphone6.png") no-repeat center top;
    width: 542px;
    height: 952px;
    display: none;
    position: relative;
    justify-content: center;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;

    .inside {
        @include border-radius(3px);
        height: 635px;
        width: 380px;
        margin-top: 130px;
        position: relative;
        overflow: hidden;
    }

    .bg-image {
        overflow-y: scroll;
        height: 635px;
        position: relative;
        width: calc(100% + 17px);

        .image {
            background: url("../../assets/images/previews/mobile.jpg") no-repeat center top;
            width: 100%;
            display: block;
            position: relative;
            z-index: 10;
        }
    }
}

/**
IPad
 */
.ipad-mockup {
    background: url("../../assets/images/ipad.png") no-repeat center top;
    width: 875px;
    height: 1235px;
    display: none;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0;
    visibility: hidden;

    .inside {
        @include border-radius(3px);
        height: 990px;
        width: 768px;
        margin-top: 140px;
        margin-right: 0px;
        position: relative;
        overflow: hidden;
        background: $white;
    }

    .bg-image {
        overflow-y: scroll;
        height: 100%;
        position: relative;
        width: calc(100% + 17px);

        .image {
            background: url("../../assets/images/previews/tablet.jpg") no-repeat center top;
            width: 100%;
            display: block;
            position: relative;
            z-index: 10;
        }
    }
}

// horizontal
.ipad-mockup-horizontal {
    background: url("../../assets/images/ipad-horizontal.png") no-repeat center top;
    width: 1235px;
    height: 875px;
    display: none;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0;
    visibility: hidden;

    .inside {
        @include border-radius(3px);
        height: 740px;
        width: 1024px;
        margin-top: 81px;
        margin-right: 0px;
        position: relative;
        overflow: hidden;
        background: $white;
    }

    .bg-image {
        overflow-y: scroll;
        height: 100%;
        position: relative;
        width: calc(100% + 17px);

        .image {
            background: url("../../assets/images/previews/tablet-horizontal.jpg") no-repeat center top;
            width: 100%;
            display: block;
            position: relative;
            z-index: 10;
        }
    }
}