// Global
html {
    font-family: sans-serif;
    font-size: 62.5%;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

* {
    @include box-sizing(border-box);

    margin: 0;
    padding: 0;

    outline: none;
}

// links
a {
    text-decoration: none;
}

// paragraphs
p {
    margin: 0 0 20px 0;
}

// Reset fonts for relevant elements
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
